.image-item1 { 
width: 40px;
height: 28px;
top: 58px;
left: 143px;
border: 1.7999999523162842; 
margin: 2%; 


}
.image-item2 { 
    color: black;
    width: 50px;
    width: 50px;
    padding: 2%;
    width: 58px;
height: 63px;
top: 40px;
left: 243px;


}
.nav-item { 
 width: 1917px;
height: 137px;
left: 3px;
border: 1 ;
background-color: #2C3139;
}
.image-item3 { 
 width: 1923px;
height: 1080px;
}


 .favourites-logo { 
    width: 37px;
height: 34px;
top: 55px;
left: 1533px;

 }

 .searchbar-logo { 
width: 28.44px;
height: 32.85px;
top: 58px;
left: 701px;
margin-left: 13%;
margin-bottom: 3%;


 }
 
.favourites-logo { 
    margin: 0.5%;
    margin-left: 13%;
    margin-bottom: 2%;
}

.shopping-cart { 
    margin: 0.5%;
    margin-bottom: 2%;
}

.account-icon { 
    margin: 0.5%;
    margin-bottom: 2%;


}

.eng-icon { 
    margin: 0.5%;
    margin-bottom: 2.3%;

}
.search-bar { 
    width: 240px;
    height: 38px;
    background-color: #2C3139;
    border-color: white;
    border-color: white;
}

.first-img { 
 width: 1923px;
height: 1080px;

}

h1 { 
    margin-left: 140px;
}

.headboards { 
 width: 220px;
height: 220px;
margin-left: 178px;
}

h4 { 
 width: 145px;
height: 19px;
margin-left: 216px;

}


.secondary-img{ 
    width: 220px;
    height: 220px;
    margin-left: 178px;
}

.under-texts { 
    width: 145px;
    height: 19px;
    margin-left: 216px;
}



.bedrooms-img { 
width: 468px;
height: 424px;
margin-left: 178px;

}
 h3 { 
    margin-left: 
    157px;
 }